form {

    margin: auto;
}

input {
    outline: none;
    background-color: rgb(236, 236, 236);
}

.inputWord {
    width: 250px;
    height: 50px;
    border-radius: 6px;
    padding: 0 10px 0 10px;
    font-size: 20px;
    margin: auto;
}